node_modules

/content/panorama/scripts/custom_game/**/*.js
/game/scripts/vscripts/**/*.lua
!/game/scripts/vscripts/lib/timers.lua

# Dota 2 stuff
*.bin
*.vcss_c
*.vxml_c
*.vtex_c
*.vjs_c
*.vpcf_c
*.vmat_c
*.vpk
*.vmdl_c
*.vmesh_c
*.vsndevts_c
*.vsnd_c
panorama_debugger.cfg
